h3 {

	border-bottom-style: solid;
}

#completed {
 	position: absolute;
	top: 250px;
	width: 160px;
	height: 100px;
	right: 195px;
	color: white;
 }

 .review {
 	margin-left: 55px;
 	margin-top: 10px;
 	margin-bottom: 10px;
 }

 .delete {
 	position: absolute;
 	top: 325px;
 	left: 30px;
 	width: 150px;
 	height: 50px;

 }