.mission {
	min-height: 200px;
	text-align: center;
	padding-top: 25px;
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-color: #28A745;
}

.mstatement {
	padding-top: 10px;
	width: 75%;
	margin-left: 12.5%;
	color: #808080;
}

.teach {
	float: left;
	width: 50%;
}

.ltitle {
	color: #28A745;
}

#top {
	border-top-style: solid;
	border-top-width: thin;
	margin-top: 25px;
}

.learn {
	float: right;
	width: 50%;
}