.reviewContainer {
	min-height: 125px;
	max-height: 300px;

}

.userContainer {
	width: 20%;
	float: left;
}

.descContainer {
	float: right;
	width: 80%;
}


.userImg {
	margin-left: 20px;
	border-radius: 50%;
	width: 30px;
	margin-right: 10px;
}


.starRating {
	margin-left: 25px;
	margin-top: 5px;
}

.ratingDesc {
	float: right;
}

.element {
	padding: 2px;
}

.modify {
	margin-left: 10px;
}