.message-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 90vh;
}

.message-container > .message-contents {
    overflow-y: scroll;
}

.message-container > .message-contents > .self {
    text-align: right;
}

.message-container > .message-contents > .self > div {
    background-color: lightgray;
    overflow-wrap: anywhere;
}

.message-container > .message-contents > .other {
    text-align: left;
}

.message-container > .message-contents > .other > div {
    background-color: lightgreen;
    overflow-wrap: anywhere;
}

.message-container > .message-contents div, .message-container > .message-contents div {
    padding: 1em;
    border-radius: 30%;
}

.message-container > .message-input {
    display: flex;
    flex-direction: row;
    padding-top: 1em;
}

.message-container > .message-input > input {
    flex: auto;
}