.courseDescrip {
	background-color: #4CAF50;
	color: white;
	min-height: 325px;
	padding: 10px;
}

h1 {

	margin-left: 25px;
}

#coursepic {
	margin-left: 25px;
	margin-bottom: 20px;
}

#desc {

	margin-left: 25px;
	width: 50%;
	margin-bottom: 10px;
	padding-bottom: 20px;
}

#last {
	position: absolute;
	top: 225px;
	right: 209px;
}

.button {
	position: absolute;
	top: 125px;
	width: 160px;
	height: 100px;
	right: 200px;
}

