h3 {
	border-bottom-style: solid;
}

#completed {
 	position: absolute;
	top: 271px;
	width: 160px;
	height: 20px;
	right: 182px;
	color: white;
 }

 .edit {
 	margin-left: 30px;
 	margin-top: 15px;
 	margin-bottom: 10px;
 }

 .courseDescrip {
	background-color: #4CAF50;
	color: white;
}

 .title{
	margin-top: 25px;
	margin-left: 25px;
}

#desc {
	margin-left: 25px;
	width: 50%;
	margin-bottom: 10px;
	padding-bottom: 20px;
}

#detail {
	margin-left: 25px;
	margin-bottom: 10px;
	padding-bottom: 20px;
}

#last {
	position: absolute;
	top: 180px;
	right: 209px;
}

.button {
	position: absolute;
	top: 75px;
	width: 160px;
	height: 100px;
	right: 200px;
}

.delete {
	position: absolute;
 	top: 300px;
 	right: 209px;
 	width: 150px;
 	height: 50px;
}

#coursepic {
	margin-left: 25px;
	margin-bottom: 20px;
}

.review {
 	margin-left: 55px;
 	margin-top: 10px;
 	margin-bottom: 10px;
 }
