.courseDescrip {
	background-color: #4CAF50;
	color: white;
}

h1 {
	margin-left: 25px;
}

#desc {
	margin-left: 25px;
	width: 50%;
	margin-bottom: 10px;
}

#last {
	position: absolute;
	top: 230px;
	right: 209px;
}

.button {
	position: absolute;
	top: 125px;
	width: 150px;
	height: 100px;
	right: 200px;
}

