.courseDescrip {
	background-color: #6495ED;
	color: white;
}

h1 {
	margin-left: 25px;
	margin-top: 50px;
}

#desc {
	margin-left: 25px;
	width: 50%;
	margin-bottom: 10px;
}

#last {
	margin-left: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
}